body {
    padding: 0;
    margin: 0;
}

h3, h4, h5, h6 {
    font-weight: normal;
    margin: 6px;
}

#sounds {
    display: none
}

#content {
    display: flex;
    flex-direction: column;

    background-color: #080808;
    color: #fff;
    font-family: Alata, Arial, Helvetica, sans-serif;

    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;

    text-align: center;
    align-items: center;
    justify-content: center;
}

#reactionTime {
    display: flex;
    flex-direction: column;
    background-color: #141414;

    width: calc(min(400px, 80vw) - 48px);
    height: 48px;

    padding: 0px 24px;

    border-radius: 24px;

    justify-content: center;
}

#reactionTime > * {
    position: relative;

    top: 0px;
    left: 0px;
}

#controllersDiv {
    display: flex;
    background-color: #141414;

    width: calc(min(400px, 80vw) - 32px);
    height: 27px;

    padding: 0px 16px;
    margin-bottom: 16px;

    border-radius: 999px;

    text-align: left;
    align-items: center;
    justify-content: left;
}

.fa-controller {
    position: relative;
    margin-right: 8px;
}

.opt {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

#settings {
    display: flex;
    flex-direction: row;

    margin-top: 20px;
    
    width: calc(min(400px, 80vw) - 30px);

    text-align: center;
    align-items: center;
    justify-content: space-between;
}